<!DOCTYPE html>
<html>
<head>
  <title>Bits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <% if !signed_in? %>
    <div class="dropdown">
      <h4 class="padding"> Register </h4>
        <div class="dropdown-content">
          <li><%= link_to "Student Register", new_student_registration_path%></li>
          <li><%= link_to "Non Profit Register", new_non_profit_registration_path %></li>
        </div>
    </div>
    <div class="dropdown">
      <h4 class="padding"> Log In </h4>
        <div class="dropdown-content">
          <li><%= link_to "Student Sign In",new_student_session_path%></li>
          <li><%= link_to "Non Profit Sign In",new_non_profit_session_path%></li>
        </div>
    </div>
    <% end %>
    <% if current_non_profit %>
     <%= link_to "Log Out" , destroy_non_profit_session_path, method: :delete %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
