<!DOCTYPE html>
<html>
<head>
  <title>Bits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to "Student Register", students_path%></li>
      <li><%= link_to "Non Profit Register",students_path%></li>
      <li><%= link_to "Student Sign In",students_path%></li>
      <li><%= link_to "Non Profit Sign In",students_path%></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
