<!DOCTYPE html>
<html>
<head>
  <title>Bits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <% if !signed_in? %>
    <div class="dropdown">
      <h4 class="padding"> Register </h4>
        <div class="dropdown-content">
          <li><%= link_to "Student Register", new_student_registration_path%></li>
          <li><%= link_to "Non Profit Register", new_non_profit_registration_path %></li>
        </div>
    </div>
    <div class="dropdown">
      <h4 class="padding"> Log In </h4>
        <div class="dropdown-content">
          <li><%= link_to "Student Sign In",new_student_session_path%></li>
          <li><%= link_to "Non Profit Sign In",new_non_profit_session_path%></li>
        </div>
    </div>
    <% end %>
    <% if current_non_profit %>
      <%= link_to "Log Out" , destroy_non_profit_session_path, method: :delete %>
      <%= link_to "Add New Project" ,  new_projects_path(current_non_profit.name) %>
      <div class="right padding"> <%= current_non_profit.name %> </div>
    <% elsif current_student %>
      <div class="right padding"><p>Hello <%= current_student.name %> </p></div>
      <%= link_to "Log Out" , destroy_student_session_path, method: :delete %>
    <% end %>
    <div class="right padding"><%= link_to "About Luminse", about_path %></div>
    <div class="right padding"><%= link_to "How to use the site", faq_path %></div>

  </nav>

<%= yield %>

</body>
</html>
